@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswaldregular.woff2") format("woff2"),
    url("../../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"),
    url("../../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}

@media (min-width: @desktop-width) {
  body {
    position: relative;
    background-image: url("../../img/background/index-background-big-1.png");
    background-repeat: no-repeat;
    background-position: right -60% top;
    background-size: 1044px 694px;
  }

  body::before {
    position: absolute;
    content: "";
    width: 1044px;
    height: 696px;
    background-color: @cover-bg-color;
    opacity: 0.85;
    top: -1.6%;
    right: -18.7%;
  }
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: @base-bg-color;
  color: @base-text-color;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
