@base-text-color: #444444;
@accent-text-color: #000000;
@promo-text-color: #ffffff;
@target-catalog-text-color: #222222;

@base-bg-color: #ffffff;
@cover-bg-color: #68B738;
@darker-bg-color: #F2F2F2;
@example-bg-color: #EAEAEA;
