//Colors
@base-text-color: #444444;
@accent-text-color: #000000;
@promo-text-color: #ffffff;
@target-catalog-text-color: #222222;

@base-bg-color: #ffffff;
@cover-bg-color: #68b738;
@darker-bg-color: #f2f2f2;
@example-bg-color: #eaeaea;
@field-border-color: #e7e7e7;

//Viewports
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
