.example {
  background-color: @example-bg-color;
}

.example__wrapper {
  padding: 20px;
}

.example__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @accent-text-color;
  margin: 0;
  margin-bottom: 40px;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @accent-text-color;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
}

.example__expenses {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: @accent-text-color;
}
