.example {
  background-color: @example-bg-color;
}

.example__wrapper {
  display: grid;

  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;

    grid-template-columns: 1fr 200px;
    grid-template-rows: 60px auto 80px 515px 40px;
    grid-template-areas: "header header"
      "text text"
      "list expenses"
      "pictures pictures"
      "variants variants";
  }

  @media (min-width: @desktop-width) {
    width: 1220px;

    grid-template-columns: 450px 595px;
    grid-template-rows: 60px auto 80px auto;
    grid-template-areas: "header pictures"
      "text pictures"
      "list pictures"
      "expenses variants";
  }
}

.example__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @accent-text-color;
  margin: 0;
  margin-bottom: 40px;

  grid-area: header;
}

.example__text {
  grid-area: text;
}

.example__list {
  grid-area: list;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @accent-text-color;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
}

.example__expenses {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: @accent-text-color;

  grid-area: expenses;
}

.example__pictures {
  grid-area: pictures;
}

.example__variants {
  grid-area: variants;
}
