.extra-catalog {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.extra-catalog__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @accent-text-color;
}

.extra-catalog__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.extra-catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
  }
}

.extra-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @target-catalog-text-color;
}

.extra-catalog__amount,
.extra-catalog__price {
  font-size: 14px;
  line-height: 14px;
}
