.form {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.form__group {
  border: none;
}

.form__group input,
.comment__field {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @base-text-color;
}

.form__post-scriptum {
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: @accent-text-color;
  text-transform: none;
}

.form__button {
  border: none;
}
