.form-main__wrapper {
  display: flex;
  flex-direction: column;

  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form-main__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @accent-text-color;
  margin-top: 27px;
  margin-left: 20px;
}

.form-main__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @accent-text-color;
  margin-left: 20px;
}
