.gift {
  padding: 20px;
  position: relative;
}

.gift::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.85;
  width: 279px;
  height: 289px;
  background-color: @cover-bg-color;
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: @promo-text-color;
}
