.main-catalog {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.main-catalog__list {
  display: grid;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
  }
}

.main-catalog__link {
  text-decoration: none;
}

.main-catalog__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @target-catalog-text-color;
}

.main-catalog__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.main-catalog__cell {
  font-weight: 400;
}
