@media (min-width: @desktop-width) {
  .page__body--index {
    position: relative;
    background-image: url("../../img/background/background-big@1x.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/background-big@2x.png");
    }

    .main-nav__link {
      color: @promo-text-color;
      text-decoration-color: @promo-text-color;
    }
  }
}
