.program-card {
  background-color: @darker-bg-color;

  width: 280px;
  min-height: 266px;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 372px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 374px;
  }
}

.program-card__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @accent-text-color;
}

.program-card__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @accent-text-color;
}
